extends layout

block content
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")


  #embedded-email-verify-customui.container(style="display:none;")
    .form-signin
      h2.form-signin-heading Enter Code
      label.sr-only(for='code') Code
      input#email-code.form-control(type='code', placeholder='code', required='', autofocus='')
      button#signin-passwordless-email-verify.btn.btn-lg.btn-primary.btn-block Sign in

  #embedded-mobile-verify-customui.container(style="display:none;")
    .form-signin
      h2.form-signin-heading Enter Code
      label.sr-only(for='code') Code
      input#mobile-code.form-control(type='code', placeholder='code', required='', autofocus='')
      button#signin-passwordless-mobile-verify.btn.btn-lg.btn-primary.btn-block Sign in


  #embedded-login-customui.container
    .form-signin
      h2.form-signin-heading Passwordless Email
      label.sr-only(for='email') Email address
      input#email.form-control(type='email', placeholder='Email address', required='', autofocus='')
      button#signin-passwordless-email.btn.btn-lg.btn-primary.btn-block Sign in

    h3 or

    .form-signin
      h2.form-signin-heading Passwordless SMS
      label.sr-only(for='mobile') Mobile Number
      input#mobile.form-control(type='mobile', placeholder='mobile', required='', autofocus='')
      button#signin-passwordless-mobile.btn.btn-lg.btn-primary.btn-block Sign in

  script.
    $(function () {
      $('#signin-passwordless-email-verify').on('click', function (e) {
        e.preventDefault();
        var webAuthPasswordless = new auth0.WebAuth({
          domain: '#{env.AUTH0_DOMAIN}',
          redirectUri: '#{env.AUTH0_CALLBACK_URL}',
          clientID: '#{env.AUTH0_CLIENT_ID}',
          responseType: 'code'
        });
        webAuthPasswordless.passwordlessLogin({
        connection: 'email',
        email: $('#email').val(),
        verificationCode: $('#email-code').val()
      }, function (err, res) {
          if (err) {
            alert("Something went wrong with passwordless email");
            return;
          }
        });
      });

      $('#signin-passwordless-mobile-verify').on('click', function (e) {
        e.preventDefault();
        var webAuthPasswordless = new auth0.WebAuth({
          domain: '#{env.AUTH0_DOMAIN}',
          redirectUri: '#{env.AUTH0_CALLBACK_URL}',
          clientID: '#{env.AUTH0_CLIENT_ID}',
          responseType: 'code'
        });
        webAuthPasswordless.passwordlessLogin({
          connection: 'sms',
          phoneNumber: $('#mobile').val(),
          verificationCode: $('#mobile-code').val()
        }, function (err, res) {
          if (err) {
            alert("Something went wrong with passwordless email");
            return;
          }
        });
      });

      $('#signin-passwordless-email').on('click', function (e) {
        e.preventDefault();
        var webAuthPasswordless = new auth0.WebAuth({
          domain: '#{env.AUTH0_DOMAIN}',
          redirectUri: '#{env.AUTH0_CALLBACK_URL}',
          clientID: '#{env.AUTH0_CLIENT_ID}',
          responseType: 'code'
        });
        webAuthPasswordless.passwordlessStart({
          connection: 'email',
          email: $('#email').val(),
          send: 'code'
        }, function (err, res) {
          if (err) {
            alert("Something went wrong with passwordless email");
            return;
          }
          $('#embedded-login-customui').hide();
          $('#embedded-email-verify-customui').show();
        });
      });
      $('#signin-passwordless-mobile').on('click', function (e) {
        e.preventDefault();
        var webAuthPasswordless = new auth0.WebAuth({
          domain: '#{env.AUTH0_DOMAIN}',
          redirectUri: '#{env.AUTH0_CALLBACK_URL}',
          clientID: '#{env.AUTH0_CLIENT_ID}',
          responseType: 'code'
        });
        webAuthPasswordless.passwordlessStart({
          connection: 'sms',
          phone_number: $('#mobile').val(),
          send: 'code'
        }, function (err, res) {
          if (err) {
            alert("Something went wrong with passwordless email");
            return;
          }
          $('#embedded-login-customui').hide();
          $('#embedded-mobile-verify-customui').show();
        });
      });
    });
